<!DOCTYPE html>
<html>
  <head>
    <!-- Primary Meta Tags -->
		<title>Visionly - Sophisticated Gantt charts for planners</title>
		<link rel="shortcut icon" href="https://i.ibb.co/9wBNgFq/logo-1.png">
		<meta name="title" content="Visionly - Sophisticated Gantt charts for planners">
		<meta name="description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://metatags.io/">
		<meta property="og:title" content="Visionly - Sophisticated Gantt charts for planners">
		<meta property="og:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
		<meta property="og:image" content="https://i.ibb.co/wpTdxgx/Untitled.png">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://metatags.io/">
		<meta property="twitter:title" content="Visionly - Sophisticated Gantt charts for planners">
		<meta property="twitter:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
		<meta property="twitter:image" content="https://i.ibb.co/wpTdxgx/Untitled.png">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="//matifycss.manuthecoder.repl.co/src/matify.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    />
    <script src="//cdn.tailwindcss.com"></script>
  </head>
  <body class="dark:bg-gray-900 dark:text-white">
    <section class="bg-white dark:bg-gray-800">
      <nav class="container p-6 mx-auto flex lg:justify-between items-center">
        <div class="flex items-center justify-between">
          <div>
            <a
              class="text-2xl font-bold text-gray-800 dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300"
              href="#"
              >Visionly</a
            >
          </div>
        </div>

        <div class="items-center float-right order-2 ml-auto">
          <div class="flex md:flex-row md:mx-6">
            <a
              class="my-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform dark:text-gray-200 hover:text-teal-500 dark:hover:text-teal-400 md:mx-4 md:my-0"
              href="/login"
              >Sign up or log in</a
            >
          </div>
        </div>
      </nav>

      <div class="container px-6 py-16 mx-auto text-center">
        <div class="max-w-lg mx-auto">
          <h1
            class="text-3xl font-bold text-gray-800 dark:text-white md:text-4xl"
          >
            Sophisticated Gantt charts for planners
          </h1>
          <p class="mt-6 text-gray-500 dark:text-gray-300">
            Create beautiful Gantt charts, and plan your next app or website!
          </p>
          <a
						href="/login"
            class="inline-block px-6 py-2 mt-6 text-sm font-medium leading-5 text-center text-white capitalize bg-teal-600 rounded-lg hover:bg-teal-500 matify:ripple md:mx-0 md:w-auto focus:outline-none"
          >
            Get started!
          </a>
          <p class="mt-3 text-sm text-gray-400">
            It's free forever, no charges anytime!
          </p>
        </div>

        <div class="flex justify-center mt-10">
          <div
            class="w-full h-64 lg:h-auto w-full overflow-hidden bg-teal-600 rounded-xl md:w-4/5"
          >
            <img
              src="https://i.ibb.co/cyWv7NV/Screenshot-2022-01-13-11-35-28-PM.png"
              class="h-full w-full object-cover"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white dark:bg-gray-900 mt-10">
      <div class="container px-6 py-10 mx-auto">
        <h1
          class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
        >
          explore our <br />
          awesome <span class="underline decoration-teal-500">Features</span>
        </h1>

        <p class="mt-4 text-gray-500 xl:mt-6 dark:text-gray-300">
          Check out these features which make Visionly unique
        </p>

        <div
          class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-16 md:grid-cols-2 xl:grid-cols-3"
        >
          <div class="space-y-3">
            <span
              class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
</svg>
            </span>

            <h1
              class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
            >
              Simple dashboard
            </h1>

            <p class="text-gray-500 dark:text-gray-300">
              We use the principles of Material design to make the experienc better for you!
            </p>
          </div>

          <div class="space-y-3">
            <span
              class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z" />
</svg>
            </span>

            <h1
              class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
            >
              It's free
            </h1>

            <p class="text-gray-500 dark:text-gray-300">
              Our app is completely free to use
            </p>
          </div>

          <div class="space-y-3">
            <span
              class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500"
            >
             <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z" />
</svg>
            </span>

            <h1
              class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
            >
              Unlimited projects
            </h1>

            <p class="text-gray-500 dark:text-gray-300">
              Create unlimited projects, visions, and more.
            </p>
          </div>

          <div class="space-y-3">
            <span
              class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z"
                />
              </svg>
            </span>

            <h1
              class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
            >
              Dark Mode
            </h1>

            <p class="text-gray-500 dark:text-gray-300">
              Use our app in the night
            </p>
          </div>

          <div class="space-y-3">
            <span
              class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4" />
</svg>
            </span>

            <h1
              class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
            >
              Switch between projects with ease
            </h1>

            <p class="text-gray-500 dark:text-gray-300">
              Use keyboard shortcuts to navigate between projects
            </p>
          </div>

          <div class="space-y-3">
            <span
              class="inline-block p-3 text-teal-500 bg-teal-100 rounded-full dark:text-white dark:bg-teal-500"
            >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
</svg>
            </span>

            <h1
              class="text-2xl font-semibold text-gray-700 capitalize dark:text-white"
            >
              Search anything
            </h1>

            <p class="text-gray-500 dark:text-gray-300">
              Use our quick find feature to jump to projects, visions, settings, and everything else!
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-white dark:bg-gray-800">
      <div class="container px-6 py-8 mx-auto">
        <div class="text-center">
          <a
            href="#"
            class="text-2xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300"
            >Visionly</a
          >

          <p class="max-w-md mx-auto mt-2 text-gray-500 dark:text-gray-400">
            Gantt charts that work
          </p>

          <div
            class="flex flex-col mt-4 sm:flex-row sm:items-center sm:justify-center"
          >
            <button
              class="flex items-center justify-center order-1 w-full px-2 py-2 mt-3 text-sm tracking-wide text-gray-600 capitalize transition-colors duration-200 transform border rounded-md sm:mx-2 dark:border-gray-400 dark:text-gray-300 sm:mt-0 sm:w-auto hover:bg-gray-50 focus:outline-none focus:ring focus:ring-gray-300 matify:ripple focus:ring-opacity-40"
            >
              <svg
                class="w-5 h-5 mx-1"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C21.9939 17.5203 17.5203 21.9939 12 22ZM4 12.172C4.04732 16.5732 7.64111 20.1095 12.0425 20.086C16.444 20.0622 19.9995 16.4875 19.9995 12.086C19.9995 7.68451 16.444 4.10977 12.0425 4.086C7.64111 4.06246 4.04732 7.59876 4 12V12.172ZM10 16.5V7.5L16 12L10 16.5Z"
                  fill="currentColor"
                ></path>
              </svg>

              <span class="mx-1">Watch trailer</span>
            </button>

            <button
              class="w-full px-5 py-2 text-sm tracking-wide text-white capitalize transition-colors duration-200 transform bg-teal-600 rounded-md sm:mx-2 sm:order-2 sm:w-auto hover:bg-teal-500 focus:outline-none focus:ring focus:ring-teal-300 matify:ripple focus:ring-opacity-80"
            >
              Get started
            </button>
          </div>
        </div>

        <hr class="my-10 border-gray-200 dark:border-gray-700" />

        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
          <p class="text-sm text-gray-400">
            © Copyright 2022. All Rights Reserved.
          </p>

          <div class="flex mt-3 -mx-2 sm:mt-0">
            <a
              href="//manuthecoder.ml"
              class="mx-2 text-sm text-gray-400 hover:text-gray-500 dark:hover:text-gray-300"
              aria-label="Reddit"
            >
              About the developer
            </a>

            <a
              href="#"
              class="mx-2 text-sm text-gray-400 hover:text-gray-500 dark:hover:text-gray-300"
              aria-label="Reddit"
            >
              Privacy
            </a>

            <a
              href="#"
              class="mx-2 text-sm text-gray-400 hover:text-gray-500 dark:hover:text-gray-300"
              aria-label="Reddit"
            >
              Cookies
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="//matifycss.manuthecoder.repl.co/src/matify.js"></script>
  </body>
</html>